
<div class="body">

  <div class="login">
    <img [src]="logo" alt="" width="50%" height="80%">
    <h1 class="h3 mb-3 fw-normal">Login</h1>

    <!--<form #frmLogin="ngForm" (ngSubmit)="onLogin(frmLogin)">-->
      <form [formGroup]="form" (ngSubmit)="onLogin()">
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Usuario</mat-label>
        <input matInput name="username" formControlName="username">
      </mat-form-field>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput name="password" formControlName="password" type="password">
      </mat-form-field>
      <br>
      <button class="ancho" mat-raised-button mat-button color="primary" type="submit" [disabled]="form.invalid">Enviar</button>
    </form>

  </div>
</div>