<mat-toolbar color="primary">
    <span>Sistema</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/dashboard">Dashboard</button>
    <button mat-button [matMenuTriggerFor]="catMenu">Catalogos</button>
    <mat-menu #catMenu="matMenu">
        <button mat-menu-item>Administrativos</button>
        <button mat-menu-item>SAT</button>
    </mat-menu>
    <button mat-button routerLink="/dashboard/reports">Reportes</button>
    <span class="example-spacer"></span>
    <!-- <button mat-button routerLink="/dashboard">LogOut</button> -->
    <button mat-icon-button class="example-icon" routerLink="/" aria-label="Example icon-button with menu icon" >
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>