  <div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
    <div class="logo-container">
      <button class="logo" (click)="toggleCollapse()">A</button>
      <div class="logo-text" *ngIf="collapsed" @fadeInOut>Angular</div>
      <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()" @rotate>
        <i class="fal fa-times close-icon"></i>
      </button>
    </div>
    <div class="scrollwrap scrollwrap_delayed">
      <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData ">
          <a class="sidenav-nav-link" 
            *ngIf="data.subMenu" 
            (click)="handleClick(data)" 
          >
            <i class="sidenav-link-icon" [class]="data.icon"></i>
            <span class="sidenav-link-text" *ngIf="collapsed">{{data.label}}</span>
            <i *ngIf="data.items && collapsed" class="menu-collapse-icon"
              [ngClass]="!data.expanded ? 'fad fa-angle-right' : 'fad fa-angle-down'"></i>
          </a>

          <a class="sidenav-nav-link" [routerLink]="[data.routeLink]" *ngIf="!data.subMenu"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">
            <i class="sidenav-link-icon" [class]="data.icon"></i>
            <span class="sidenav-link-text" *ngIf="collapsed">{{data.label}}</span>
          </a>
          <div *ngIf="data.subMenu">
            <app-sublevel-menu
            [data]="data"
            [collapsed]="collapsed"
            [multiple]="multiple"
            [expanded]="data.expanded"
            ></app-sublevel-menu>
          </div>
        </li>
      </ul>
    </div>
    <div class="sidenav-end">
      <button class="btn sing-out" (click)="singOut()"> Salir
        <i class="fas fa-sign-out"></i>
      </button>
    </div>



  </div>
